@import "../../lib/theme/variables.css";

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal-container {
	width: 350px;
	height: 250px;
	margin: 150px auto;
	padding: 20px 30px;
	background-color: #fff;
	color: var(--navy-blue);
	font-weight: 700;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
}
.modal-header button {
	border-radius: 50px;
	padding: 5px 10px;
	height: auto;
	background-color: unset;
	border: 1px solid #000;
}
.modal-header button:hover {
	background-color: var(--navy-blue);
	color: var(--lite-grey);
}

.modal-body {
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.modal-body button {
	background-color: var(--emerald-green);
	color: var(--white);
	border-radius: 50px;
	padding: 10px;
	height: auto;
	border: none;
	font-size: 1.2rem;
}
